<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/imports.ejs') %>
        <link rel="stylesheet" href="css/services/serv1.css">
        <title>Document</title>
        <style>
            body {
                background-image: url("img/limpieza-dental.jpg");
                background-repeat: none;
            }
        </style>
</head>


<body>
    <%- include('../components/nav.ejs') %>

        <h1>
            <%= title %>
        </h1>


        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <h6 class="card-subtitle">Lorem ipsum dolor sit amet.</h6>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore odio iure molestias
                                beatae suscipit nostrum, earum expedita voluptas ratione animi culpa, quis fugit aut
                                illo recusandae architecto nihil iste fuga ab quidem magnam vel debitis? Facere
                                aspernatur distinctio voluptas unde commodi quod, earum praesentium quas totam quisquam
                                dicta, ducimus possimus fuga saepe excepturi dolorum. Rerum labore fugiat quisquam,
                                recusandae corrupti hic cumque fuga odit sunt at, magnam impedit. Sed iste quos ratione
                                accusantium? Unde, cumque?
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    Video de Youtube
                </div>
                <div class="col-12 col-md-6">
                    <div class="ui-widget-content" id="draggable">
                        <p>hola</p>
                        <!-- <button class="js-modal-btn" data-video-id="7TUOI23spt0">open video</button> -->
                        <img id="imgOrt" src="img/ortodoncia.jpg" alt="...">
                    </div>
                    Draggable con Jquery UI
                </div>
            </div>
        </div>



        <%- include('../components/footer.ejs') %>
            <script src="js/services/service1.js"></script>

</body>

</html>