<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../components/imports.ejs') %>
        <link rel="stylesheet" href="css/us.css">
        <title>Document</title>
</head>

<body>
    <%- include('../components/nav.ejs') %>

        <h1>
            <%= title %>
        </h1>

        <div class="container">
            <div class="ui-widget-content" id="draggable">
                <img src="img/dentist.svg" alt="...">
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="card" id="c1">
                        <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text" id="ctxt1">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, ratione.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card" id="c2">
                        <div class="card-body">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text" id="ctxt2">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, ratione.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="contenedor">
                <button id="btn" class="btn btn-primary">
                    DEMO
                </button>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    Formulario de contacto


                    <div class="card">

                        <div class="card-body">
                            <form action="">
                                <input class="form-control mt-3" type="email" name="email" id="email"
                                    placeholder="Email">
                            </form>

                        </div>

                    </div>


                </div>
                <div class="col-12 col-md-6">
                    Avisarme de ofertas
                </div>
            </div>
        </div>





        <%- include('../components/footer.ejs') %>
            <!-- Jquery Mio -->
            <script src="js/us.js"></script>


</body>

</html>