h1 {
  text-align: center;
}

.animated-logo {
  display: flex;
  justify-content: center;
}

.card {
  width: 18rem;
  background: rgba(19, 0, 104, 0.342);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
}

.card-btn-cont {
  display: flex;
  justify-content: center;
}

/* .card-img-top {
  height: 150px;
  width: 250px;
} */

.btn-primary {
  background: green;
  border-radius: 30px;
  border: none;
  transition: 0.5s;
}

.btn-primary:hover {
  background: red;
  transition: 1s;
}

.card-title {
  text-align: center;
}
