#head-box {
  background: rgba(255, 217, 0, 0.63);
}

.card {
    color: white;
    background: rgba(255, 217, 0, 0.548);
    transition: 1s;
}


.card:hover {
    color: white;
    background: rgba(25, 0, 255, 0.705);
    transition: 1s;
    box-shadow: 4px 4px 4px 5px rgba(0, 0, 0, 0.2);
}

#header {
  display: flex;
  justify-content: space-evenly;
}
