/* Archivo de estilos genericos para todas las vistas. */

html,
body {
  overflow-x: hidden;
  color: black;
  font-family: "Opens Sans", helvetica;
  height: 100%;
  width: 101%;
  margin: 0px;
  padding: 0px;
  background: #83a4d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b6fbff,
    #83a4d4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b6fbff,
    #83a4d4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
